body {
  background-color: #fff6e3;
  font-family: 'Montserrat', sans-serif;
}

h2,
h1,
h3,
h4 {
  margin: auto auto 10px auto;
  display: block;
  text-align: center;
  max-width: 600px;
}

p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  height: 500px;
}

a {
  text-decoration: none;
  color: #f6a623;
  font-style: italic;
  font-weight: 800;
}

.homepage-link {
  width: fit-content;
  margin: auto;
}

#trademe1 {
  height: 150px;
}

#trademe-watchlist {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: auto;
}

#trademe2 {
  height: 250px;
}

#trademe3 {
  height: 250px;
}

#cards {
  height: 200px;
}

#toy-train {
  height: 200px;
}

#loop-example {
  height: 300px;
}

#dom-manipulation {
  height: 250px;
}

#fruits-array1 {
  height: 175px;
}

#object-example {
  height: 200px;
}

#object-example2 {
  height: 300px;
}

#array-access-example {
  height: 175px;
}

#object-access-example {
  height: 300px;
}

#function-example {
  height: 250px;
}

#change-function-example {
  height: 250px;
}
